/pw.cfg
/pwd.par
/mode.par
/ssid.par
/swing_cool_off.par
/swing_cool_on.par
/swing_heat_off.par
/swing_heat_on.par
/temp.par
/bright.par
/ctemp.par
/htemp.par
/hw.lua
/lcd.lua
/nodemcu-master-11-modules-2020-01-18-05-44-54-float.bin
